---
import Layout from '../../components/Layout.astro';
import photos from '../../data/photos.json';

export async function getStaticPaths() {
	const stripExtension = (fileName) => {
		const dotIndex = fileName.indexOf('.');
		if (dotIndex < 0) return fileName;
		return fileName.slice(0, dotIndex);
	};
	const assets = (await Astro.glob('../../assets/**/*.jpg')).map(
		(item) => item.default,
	);
	return photos.map((item) => {
		const photo = item.url.slice(28); // strips `https://unsplash.com/photos/`
		const image = assets.find((asset) =>
			asset.src.includes(stripExtension(item.file)),
		);
		return {
			params: {
				photo: photo,
			},
			props: {
				credit: item.credit,
				url: item.url,
				image: image,
			},
		};
	});
}

const { credit, url, image } = Astro.props;

const width = 1000;
const height = Math.trunc((image.height / image.width) * width);

const title = `Photo by ${credit}`;
---

<Layout name={title}>
	<figure>
		<img src={image.src} width={width} height={height} />
	</figure>

	<p><a href={url}>see the photo on Unsplash</a></p>
</Layout>

<style>
	img {
		max-width: 100%;
		height: auto;
	}
</style>
