---
import { getImage } from 'astro:assets';
import Layout from '../../components/Layout.astro';
import photos from '../../data/photos.json';
const assets = await Astro.glob('../../assets/**/*.jpg');
console.log(assets);

export async function getStaticPaths() {
	return photos.map((item) => {
		return {
			params: {
				photo: item.url.slice(28), // stripping `https://unsplash.com/photos/`
			},
			props: {
				file: item.file,
				credit: item.credit,
				url: item.url,
				image: assets.find((image) => image.src.includes(item.file)),
			},
		};
	});
}

const { file, credit, url, image } = Astro.props;

// const image = await getImage({ src: `../../assets/${file}` });

const title = `Photo by ${credit}`;
console.log(image);
---

<Layout name={title}>
	<!--
	<figure>
		<img src={image.src} width={image.width} height={image.height} />
	</figure>
	-->
	<dl>
		<div>
			<dt>file</dt>
			<dd>{file}</dd>
		</div>
		<div>
			<dt>credit</dt>
			<dd>{credit}</dd>
		</div>
		<div>
			<dt>url</dt>
			<dd>{url}</dd>
		</div>
	</dl>
</Layout>
